<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="app.seanime.tv.TestDocumentsProvider"
            android:authorities="app.seanime.tv.test.documents"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:grantUriPermissions="true" />
    </application>
</manifest>
